.statusBar{
    -fx-text-fill: #34290d;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 23;
}

.stats{
    -fx-text-fill: #e5d5b2;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 23;
}

.topics{
    -fx-text-fill: #6771d0;
    -fx-font-family: fantasy;
    -fx-font-size: 25;
}